 <!-- sidebar -->
<div class="col-md-2 sidebar col-sm-12 text-sidebar">
  <h3 class="no-select"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> What-2-Nite
    <button type="button" ng-click="toggleMobileBar = !toggleMobileBar" class="navbar-toggle collapsed bg-info text-success" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bg-success"></span>
                <span class="icon-bar bg-success"></span>
                <span class="icon-bar bg-success"></span>
    </button>
  </h3>
  <form action="#" class="form-vertical" ng-class="{toggleMobileBar: toggleMobileBar}">
    <div class="form-group form-group-sm">
    <label for="inputSearch" class="control-label">Search</label>
    <a ng-if="genres" ng-click="reset('genres')" class="reset text-white">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span> reset filters
    </a>
    <input type="text" class="form-control" id="inputSearch" search autocomplete="off">
    <ul id="results" tabindex="0" class="dropdown-menu" suggestions assign-focus="#inputSearch" ng-show="research">
      <li tabindex="{{$index + 1}}" ng-repeat="result in research">
        <a href="/app/movie/{{result.id}}">{{result.title}}</a>
      </li>
    </ul>
    </div>
    <div class="form-group form-group-sm">
    <label for="selectCountries" class="control-label">Locale</label>
      <select name="countries" id="selectCountries" class="form-control" ng-model="language">
        <option value="{{key}}" ng-selected="key === language" ng-repeat="(key, value) in countries">{{value.name}}</option>
      </select>
    </div>
    <div class="form-group form-group-sm">
      <label for="selectYears" class="control-label">Years</label>
      <div class="form-years">
        <input type="range" ng-model="years" id="selectYears" min="1900" ng-show="years" max="2015" class="form-control col-md-8" value="years">
        <input type="number" ng-model="years" class="col-md-2 form-control" size="4" min="1900" max="2015">
      </div>
    </div>
    <div class="form-group form-group-sm form-genres">
      <label for="selectGenres" class="control-label">Genres</label>
        <ul name="genres" id="genres" class="list-unstyled genres">
          <li ng-click="search(1, genre.id, $event, years)" ng-repeat="genre in genres">{{genre.name}}<span class="glyphicon glyphicon-ok-circle"></span></li>
        </ul>
      <select name="genres-mobile" id="genres-mobile" class="form-control" multiple ng-model="with_genres">
        <option ng-click="search(1, genre.id, $event, years)" value="{{genre.id}}" ng-repeat="genre in genres">{{genre.name}}</option>
      </select>
    </div>
  </form>
</div>
<!-- end sidebar -->
<!-- main content -->
<div class="col-md-10 col-md-offset-2 col-sm-12" id="main">
  <div class="row">
    <div class="loader" ng-hide="topMovies">
      <div class="center-block" ng-hide="noResults">
        <span class="glyphicon glyphicon-refresh rotate text-primary" aria-hidden="true"></span>
        <h5>loading...</h5>
      </div>
      <div class="center-block" ng-show="noResults">
        <span class="glyphicon glyphicon-eye-close text-primary" aria-hidden="true"></span>
        <h5>no results found!</h5>
      </div>
    </div>
    <div class="movie thumbnail" ng-repeat="movie in topMovies">
        <div class="back-thumbnail" load-item="{{movie.poster_path}}" type-url="{{thumbnailUrl}}"></div>
        <h6 ng-if="noImage"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></h6>
        <a href="/movie/{{movie.id}}">
          <div class="caption-movie caption">
            <h5 class="text-primary">{{movie.title}}</h5>
            <p class='breakword'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{movie.vote_average}}
            <br><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{movie.release_date | date}}</p>
          </div>
        </a>
    </div>
    <nav class="row clearfix col-m ">
      <ul class="pagination" ng-show="searchPaginator">
        <li><a href="" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">&lt;&lt; Prev</a></li>
        <li ng-repeat="item in searchPaginator.items" ng-class="{'current' : currentPage == item}"><a href="" ng-click="_search(item)">{{item}}</a></li>
        <li><a href="" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">Next &gt;&gt;</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- end main content -->
